body {
	background-color: #000;
	color: #fff;
	font-size: 18px;
	width: 99%;
	font-family: raleway;
	font-style: normal;
	font-weight: 100;
}

/* styling for the tooltip */
#popup {
	position: absolute;
	display: none;
	background-color: #333;
	border: solid 1px #000;
	padding: 10px;
	font-size: 22px;
	line-height: 30px;
}

/* styling for the icon in the tooltip */
#popup img {
	height: 20px;
	width: 20px;
	position: relative;
	top: 3px;
}

/* prevents a scrollbar at the bottom of the sidebar */
section {
	overflow: auto;
}

section:after {
	clear: both;
}

h1 {
	font-style: normal;
	font-family: montez;
	font-weight: 400;
	margin: auto;
	font-size: 40px;
}

/* sets up the sidebar */
#sidebar {
	width: 10%;
	display: block;
	float: left;
	overflow: hidden;
}

/* styling for all lists, removing the typical bulletpoint styling */
ul {
	list-style: none;
	background-color: #333;
	padding: 0 3px;
}

h4 {
	display: inline-block;
	margin: 0;
	padding: 10px;
}

.col1 {
	float: left;
	width: 85%;
}

.col2 {
	float: right;
}

/* adds a border to the bottom of list items, allowing for easier differentiation */
li {
	border-bottom: solid 1px #000;
	vertical-align: central;
	padding: 7px 0;
}

/* wrapper for the affinity divs at the top of the sidebar */
#affinityDisplayWrapper div {
	display: block;
	margin: 3px;
	background-color: #333;
	height: 45px;
	width: 100%;
}

/* styling for the images in the affinity display section of the sidebar */
#affinityDisplayWrapper div img {
	vertical-align: middle;
	padding: 5px;
	margin-right: 10px;
	margin-left: 5px;
}

/* styling for constellations */
#constellations {
	width: 89%;
	display: block;
	float: right;
}

/* styling for the affinity counters */
#ascendant, #chaos, #order, #primordial, #eldritch { 
  float: right;
	margin-top: 10px;
	margin-right: 10px;
	font-size: 20px;
}

/* wrapper for the right portion of the screen, containing the constellations */
#affinitiesWrapper {
	display: inline-flex;
	background-color: #6B6B6B;
	width: 89%;
	text-align: center;
}

/* wrappers for individual affinitys constellations */
#affinityAscendant, #affinityChaos, #affinityOrder, #affinityPrimordial, #affinityEldritch {
	width: 20%;
}

/* should eventually be changed, colors aren't liked.  keeping for now, as they're easy to distiguish */
#affinityAscendant {background-color: purple;}
#affinityChaos {background-color: red;}
#affinityOrder {background-color: orange;}
#affinityPrimordial {background-color: blue;}
#affinityEldritch {background-color: green;}

/* styling for the affinity buttons */
#ascendantBtn {
	background-color: purple;
	display: inline-block;
	height: 35px;
	width: 35px;
	border-radius: 50%;
}

#chaosBtn { 
	background-color: red;
	display:  inline-block;
	height: 35px;
	width: 35px;
	border-radius: 50%;
}

#orderBtn { 
	background-color: orange;
	display:  inline-block;
	height: 35px;
	width: 35px;
	border-radius: 50%;
}

#primordialBtn { 
	background-color: blue;
	display:  inline-block;
	height: 35px;
	width: 35px;
	border-radius: 50%;
}

#eldritchBtn { 
	background-color: green;
	display:  inline-block;
	height: 35px;
	width: 35px;
	border-radius: 50%;
}
/* affinity button styling ends */

/* class added to affinity button when it's activated */
.active {
	box-shadow: 0 0 50px #fff;
}

.clear {
	clear: both;
}

/* class for all locked elements, dims color and makes them uninteractable */
.locked {
	color: #737373;
	pointer-events: none;
}

/* slightly brightens and makes interactable elements whos prerequisets have been met */
.unlocked {
	color: #A3A3A3;
	pointer-events: all;
}

/* turns a selected element white */
.selected {
	color: #fff;
}